.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(250, 2, 2, 0.658);
      min-height: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Contenedores {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: calc(1px + 2vmin);
}

.Productos, .Lista {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: calc(1px + 2vmin);
}

.App-descripcion {
  height: 10vmin;
  pointer-events: none;
}

.Contenedores2 {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    align-items: flex-start;
}

.App-bote {
  height: 5vmin;
  pointer-events: none;
}
